.DS_Store
array.aux
array.log
array.synctex.gz

else.aux
else.log
else.synctex.gz

elseif.aux
elseif.log
elseif.synctex.gz

forloop.aux
forloop.log
forloop.synctex.gz

if.aux
if.log
if.synctex.gz

switch.aux
switch.log
switch.synctex.gz

var.aux
var.log
var.synctex.gz

template.aux
template.log
template.synctex.gz


